* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000
}

.month-container {
    margin: 20px;
}

.bookingPageContainer {
    background-image: url('./login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}