.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
}

.buttonContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}