.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
